<app-container>

    <br><br><br><br>

    <h1 class="font-semibold text-3xl pt-3 mb-4">
        Projetos Recentes
    </h1>
    <div class="grid grid-cols-3 gap-6 [&>div>div]:border-2 [&>div>div]:rounded-md [&>div>div]:bg-cover [&>div>div]:bg-center">
        <div>
            <div style="background-image: url(../../../assets/imgs/uaimenu.png)" class="h-60">
            </div>
        </div>
        <div>
            <div style="background-image: url(../../../assets/imgs/linguafranca.png)" class="h-60 mt-8">
            </div>
        </div>
        <div>
            <div style="background-image: url(../../../assets/imgs/nyncat.png)" class="h-60 mt-16">
            </div>
        </div>
    </div>

    <br><br><br><br>
</app-container>