<header class="my-5">
    <app-container>
        <div class="flex justify-between items-center">

            <a routerLink="/" class="font-semibold text-2xl">
                Pablo
            </a>

            <menu>
                <a routerLink="/">
                    Home
                </a>
                <a routerLink="/">
                    Sobre
                </a>
                <a routerLink="/">
                    Portfolio
                </a>
            </menu>

            <a routerLink="/" class="border-2 py-1 px-5 rounded-full font-semibold border-black">
                Contato
            </a>
        </div>
    </app-container>
</header>