<header class="my-5">
    <app-container>
        <div class="flex justify-between items-center font-semibold ">

            <a routerLink="/" class="text-3xl">
                <span class="inline-block">
                    P
                </span>
                <span class="inline-block text-blue-600 relative -top-1">
                    g
                </span>
                <span class="text-xl ml-3">
                    Pablo
                </span>
            </a>

            <menu class="space-x-20">
                <a routerLink="/">
                    Home
                </a>
                <a routerLink="/">
                    Sobre
                </a>
                <a routerLink="/">
                    Portfolio
                </a>
            </menu>

            <a routerLink="/" class="border-2 py-1 px-5 rounded-full border-black">
                Contato
            </a>
        </div>
    </app-container>
</header>