<app-header></app-header>

<app-container>
    <h1 class="font-semibold text-red-500 text-lg">Olá! Bem-vindo</h1>

    <h1 class="font-bold text-4xl pt-3">
        Meu nome é<br> Pablo Gaudard
    </h1>

    <p class="my-7 text-gray-600">
        Sou Desenvolvedor FullStack com experiência em desenvolvimento<br>
        de aplicações web. Ajudo pessoas a construir sites incríveis!
    </p>

    <button class="bg-blue-700 text-white px-9 py-3 rounded-full font-semibold">Contato</button>

    <i class="fa-brands fa-linkedin"></i>
</app-container>