#home {
  background-image: url(../assets/me.png);
  background-repeat: no-repeat;
  background-position: 103% 80%;
  background-size: 50%;
}

#main-heading {
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    background-color: red;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: -1;
    right: -42px;
    top: -15px;
    background: rgb(240,175,53);
background: linear-gradient(194deg, rgb(255, 159, 34) 35%, rgb(255, 239, 20) 100%);
  }
}
