<app-header></app-header>

<app-container>
    <div id="home" class="py-16">

        <h1 class="font-semibold text-orange-600 text-lg">
            <!-- <fa-icon [icon]="faArrowAltCircleDown" class="text-orange-600"></fa-icon> -->
            Olá! Bem-vindo
        </h1>

        <h1 class="font-bold text-4xl pt-3" id="main-heading">
            Pablo Gaudard<br>
            FullStack<br>
        </h1>

        <p class="my-7 text-gray-600">
            Sou Desenvolvedor com experiência em desenvolvimento<br>
            de aplicações web. Ajudo pessoas a construir sites incríveis!
        </p>

        <button class="bg-blue-700 text-white px-9 py-3 rounded-full font-semibold mb-10">Contato</button>

        <br>

        <button class="border-2 border-orange-600 rounded-full w-10 h-10">
            <fa-icon [icon]="faLinkedinIn" class="text-orange-600"></fa-icon>
        </button>

        <button class="border-2 border-orange-600 rounded-full w-10 h-10 ml-4 mb-14">
            <fa-icon [icon]="faGithub" class="text-orange-600"></fa-icon>
        </button>

        <br>

        <fa-icon [icon]="faArrowDown" class="text-xl text-gray-500"></fa-icon>

    </div>
</app-container>